.square {
    width: 150px;
    height: 150px;
    background: #44425e;
    color: #c4c4c4;
    border: none;
    border: 5px solid #a855c1;
    border-left: none;
    cursor: pointer;
    outline: 0;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background: rgb(0, 255, 213);
    transition: 0.3s all ease-out;
}

.square:nth-child(-n + 3) {
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.square:nth-child(3n) {
    border-right: none;
}
.square:nth-last-child(-n + 3) {
    border-left: none;
    border-bottom: none;
    border-top: none;
}
